.rating i {
	color: #f8e825;
}

li.active a {
	color: white;
	height: 100%;
	width: 100%;
}


.carousel-control-next span,
.carousel-control-prev span {
	background-color: black;
	padding: 1.5rem;
}

/* For Tablets: */

@media (min-width: 768px) and (max-width: 1024px) {}

/* For mobile phones: */
@media only screen and (max-width: 767px) {
	html {
		font-size: 14px !important;
	}

	.carousel-item {
		height: 350px !important;
	}

	.carousel-item img {
		height: 100% !important;
		width: 75% !important;
		padding-bottom: 25px !important;
	}

	.carousel-control-next span,
	.carousel-control-prev span {
		padding: 1rem;
	}

	.checkout-steps .nav-item {
		margin-right: 0px !important;
	}

	.checkout-steps a {
		padding-right: 4px !important;
	}


	.product {
		width: 85% !important;
		margin: auto;
	}
}